body{
    background-color:#1E3A8A;
    color:#F8FAFC;
    font-family: Arial, sans-serif;
}

header{
    background-color:#9ca2d8;
    color:#ebf1f7;
    text-align: center;
    padding: 30px;
}
h1{
    font-size: 36px;
}
h2{
    color:#3B82F6;
}
p{
    font-size:18px;
    line-height: 1.6;
}
main{
    width:80%;
    margin: auto;

}
section{
    background-color: white;
    margin:20px;
    padding:20px;
    border-radius:12px;
}
img {
    width:100;
    max-width: 600px;
    display:block;
    margin:auto;
    border-radius:12px;
}
figcaption{
    text-align: center;
    font-size:14px;
    color:#555555;
    margin-top:8px;
}
