body{
    background-color:#128144(51, 100, 22);
    color:rgb(46, 120, 185);
}

header{
    background-color:rgb(233, 38, 38);
    color:black;
    text-align: center;
    padding: 30px;
}
h1{
    font-size: 36px;
}
h2{
    color:black;
}
p{
    font-size:18px;
    line-height: 1.6;
}
