body{
    background-color:#1E3A8A;
    color:#F8FAFC;
    font-family: Arial, sans-serif;
}

header{
    background-color:#0c0d0f;
    color:#334155;
    text-align: center;
    padding: 30px;
}
h1{
    font-size: 36px;
}
h2{
    color:#3B82F6;
}
p{
    font-size:18px;
    line-height: 1.6;
}
